<div class="row login">
<div class="card col-md-6 col-bg-6 d-flex align-items-stretch">

      <div class="container1">
        <h4><b>Welcome to Gourmet!</b></h4>
        <p>HEY!! Are you tired of thinking a recipe which would match your fitness or health diet with the ingredients present in you kitchen!!
        BUT NOW! YOU HAVE GOURMET! All awesome recipes on your fingertip just with the ingredients name.
<br />
        So what are you waiting for?
<br />
          Register yourself to take all the advantage of our website.
           And on top of all save your health by cooking healthy food yourself than ordering unhygienic food from restaurants!!
        </p>
      </div>
      <img src="https://www.ikea.com/images/a9/77/a977cf5bdfb20a3f83b073166af95237.jpg?f=l" alt="Avatar" style="width:100%">

</div>
  <div class="card col-md-6 col-bg-6 d-flex align-items-stretch">




      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%= include ("./partials/messages"); %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="float:right">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>



</div>
</div>
